.header {
  //&.open is header class along with open class
  &.open {
    .header-menu {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }
  //OVERLAY
  .overlay {
    opacity: 0;
    position: fixed;
    top: 3.75rem;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient($darkBlue, transparent);
  }
  .nav {
    padding: 1.0625rem 1.5rem;
  }

  &-logo {
    img {
      width: 8.8125rem;
      height: 1.375rem;
    }
  }

  &-menu {
    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $darkBlue;
      transition: all 300ms ease-in-out;
      transform-origin: 2px 1px;

      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }
  }

  &_links {
    a {
      position: relative;
      font-size: $font-sm;
      color: $grayishBlue;
      transition: color 300ms ease-in-out;

      &:not(:last-child) {
        margin-right: 32px;
      }

      &::before {
        content: "";
        position: absolute;
        display: block;
        height: 5px;
        background: linear-gradient(to right, $limeGreen, $brightCyan);
        left: 0;
        right: 0;
        bottom: -30px;
        border-radius: 25px;
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }

      &:hover {
        color: $darkBlue;
        &::before {
          opacity: 1;
        }
      }
    }
  }

  &_cta {
    font-size: $font-sm;
    color: $white;
    transition: opacity 300ms ease-in-out;
    &:hover {
      opacity: 0.75;
    }
  }
}
