.hero {
  background-color: $veryLightGray;
  .container {
    @include breakpoint-up("large") {
      display: flex;
      align-items: center;
    }
  }

  &-image {
    position: relative;
    background-image: url("images/bg-intro-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;

    @include breakpoint-up("medium") {
      min-height: 25rem;
      background-position: center 60%;
    }

    @include breakpoint-up("large") {
      flex: 3;
      order: 2;
      height: 41rem;
      background-image: none;
      // background-image: url("../../images/bg-intro-desktop.svg");
      // background-position: left center;
      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 150%;
        background-image: url("images/bg-intro-desktop.svg");
        background-size: 122%;
        background-repeat: no-repeat;
        background-position: 0% 83%;
      }
    }

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: url("images/image-mockups.png");
      background-size: 93%;
      background-repeat: no-repeat;
      background-position: center bottom;
      @include breakpoint-up("medium") {
        background-size: 52%;
      }
      @include breakpoint-up(large) {
        width: 120%;
        height: 122%;
        background-size: 94%;
        background-position: center 150%;
        left: 22%;
      }
    }
  }
  &-text {
    text-align: center;

    @include breakpoint-up("large") {
      flex: 2;
      order: 1;
      text-align: left;
    }

    h1 {
      font-weight: 300;
      font-size: 2.3125rem;
      line-height: 1.15;
      color: $darkBlue;
      margin-bottom: 1.5rem;
      @include breakpoint-up(large) {
        font-size: $font-xlg;
      }
    }
    p {
      line-height: 1.5;
      margin-bottom: 2.25rem;
    }
  }
}
